/**
 *
 * ███████╗██████╗  █████╗  ██████╗██╗███╗   ██╗ ██████╗
 * ██╔════╝██╔══██╗██╔══██╗██╔════╝██║████╗  ██║██╔════╝
 * ███████╗██████╔╝███████║██║     ██║██╔██╗ ██║██║  ███╗
 * ╚════██║██╔═══╝ ██╔══██║██║     ██║██║╚██╗██║██║   ██║
 * ███████║██║     ██║  ██║╚██████╗██║██║ ╚████║╚██████╔╝
 * ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝╚═╝  ╚═══╝ ╚═════╝
 *
 *
 * This sheet contains:
 * * Utilities for spacing
 *
 * This sheet is a part of the Utilities folder which is not really a part of SMACSS:
 * General classes/helpers that can be used to extend other classes. Often general styles that can be applied wherever.
 */

.no-spacing {
	@extend
	.no-margin,
	.no-padding;
}

/**
 * =========================
 *    || Margins
 * =========================
 */

.no-margin {
	margin: 0;
}

.margin-t {
	margin: $t-spacing;
}

.margin-vs {
	margin: $vs-spacing;
}

.margin-s {
	margin: $s-spacing;
}

.margin-ms {
	margin: $ms-spacing;
}

.margin-m {
	margin: $m-spacing;
}

.margin-mb {
	margin: $mb-spacing;
}

.margin-b {
	margin: $b-spacing;
}

.margin-vb {
	margin: $vb-spacing;
}

.margin-h {
	margin: $h-spacing;
}

/**
 *    || Margin centered
 * -------------------------
 */

.margin-0-auto {
	margin: 0 auto;
}

.margin-t-auto {
	margin: $t-spacing auto;
}

.margin-vs-auto {
	margin: $vs-spacing auto;
}

.margin-s-auto {
	margin: $s-spacing auto;
}

.margin-ms-auto {
	margin: $ms-spacing auto;
}

.margin-m-auto {
	margin: $m-spacing auto;
}

.margin-mb-auto {
	margin: $mb-spacing auto;
}

.margin-b-auto {
	margin: $b-spacing auto;
}

.margin-vb-auto {
	margin: $vb-spacing auto;
}

.margin-h-auto {
	margin: $h-spacing auto;
}

/**
 *    || Margin X
 * -------------------------
 */

.margin-x-t {
	margin-left: $t-spacing;
	margin-right: $t-spacing;
}

.margin-x-vs {
	margin-left: $vs-spacing;
	margin-right: $vs-spacing;
}

.margin-x-s {
	margin-left: $s-spacing;
	margin-right: $s-spacing;
}

.margin-x-ms {
	margin-left: $ms-spacing;
	margin-right: $ms-spacing;
}

.margin-x-m {
	margin-left: $m-spacing;
	margin-right: $m-spacing;
}

.margin-x-mb {
	margin-left: $mb-spacing;
	margin-right: $mb-spacing;
}

.margin-x-b {
	margin-left: $b-spacing;
	margin-right: $b-spacing;
}

.margin-x-vb {
	margin-left: $vb-spacing;
	margin-right: $vb-spacing;
}

.margin-x-h {
	margin-left: $h-spacing;
	margin-right: $h-spacing;
}

/**
 *    || Margin Y
 * -------------------------
 */

.margin-y-t {
	margin-top: $t-spacing;
	margin-bottom: $t-spacing;
}

.margin-y-vs {
	margin-top: $vs-spacing;
	margin-bottom: $vs-spacing;
}

.margin-y-s {
	margin-top: $s-spacing;
	margin-bottom: $s-spacing;
}

.margin-y-ms {
	margin-top: $ms-spacing;
	margin-bottom: $ms-spacing;
}

.margin-y-m {
	margin-top: $m-spacing;
	margin-bottom: $m-spacing;
}

.margin-y-mb {
	margin-top: $mb-spacing;
	margin-bottom: $mb-spacing;
}

.margin-y-b {
	margin-top: $b-spacing;
	margin-bottom: $b-spacing;
}

.margin-y-vb {
	margin-top: $vb-spacing;
	margin-bottom: $vb-spacing;
}

.margin-y-h {
	margin-top: $h-spacing;
	margin-bottom: $h-spacing;
}

/**
 * =========================
 *    || Paddings
 * =========================
 */

.no-padding {
	padding: 0;
}

/**
 *    || Padding X and Y
 * -------------------------
 */

.padding-t {
	padding: $t-spacing;
}

.padding-vs {
	padding: $vs-spacing;
}

.padding-s {
	padding: $s-spacing;
}

.padding-ms {
	padding: $ms-spacing;
}

.padding-m {
	padding: $m-spacing;
}

.padding-mb {
	padding: $mb-spacing;
}

.padding-b {
	padding: $b-spacing;
}

.padding-vb {
	padding: $vb-spacing;
}

.padding-h {
	padding: $h-spacing;
}

/**
 *    || Padding X
 * -------------------------
 */

.padding-x-t {
	padding-left: $t-spacing;
	padding-right: $t-spacing;
}

.padding-x-vs {
	padding-left: $vs-spacing;
	padding-right: $vs-spacing;
}

.padding-x-s {
	padding-left: $s-spacing;
	padding-right: $s-spacing;
}

.padding-x-ms {
	padding-left: $ms-spacing;
	padding-right: $ms-spacing;
}

.padding-x-m {
	padding-left: $m-spacing;
	padding-right: $m-spacing;
}

.padding-x-mb {
	padding-left: $mb-spacing;
	padding-right: $mb-spacing;
}

.padding-x-b {
	padding-left: $b-spacing;
	padding-right: $b-spacing;
}

.padding-x-vb {
	padding-left: $vb-spacing;
	padding-right: $vb-spacing;
}

.padding-x-h {
	padding-left: $h-spacing;
	padding-right: $h-spacing;
}

/**
 *    || Padding Y
 * -------------------------
 */

.padding-y-t {
	padding-top: $t-spacing;
	padding-bottom: $t-spacing;
}

.padding-y-vs {
	padding-top: $vs-spacing;
	padding-bottom: $vs-spacing;
}

.padding-y-s {
	padding-top: $s-spacing;
	padding-bottom: $s-spacing;
}

.padding-y-ms {
	padding-top: $ms-spacing;
	padding-bottom: $ms-spacing;
}

.padding-y-m {
	padding-top: $m-spacing;
	padding-bottom: $m-spacing;
}

.padding-y-mb {
	padding-top: $mb-spacing;
	padding-bottom: $mb-spacing;
}

.padding-y-b {
	padding-top: $b-spacing;
	padding-bottom: $b-spacing;
}

.padding-y-vb {
	padding-top: $vb-spacing;
	padding-bottom: $vb-spacing;
}

.padding-y-h {
	padding-top: $h-spacing;
	padding-bottom: $h-spacing;
}
