/**
 *
 * ██╗███╗   ███╗ ██████╗
 * ██║████╗ ████║██╔════╝
 * ██║██╔████╔██║██║  ███╗
 * ██║██║╚██╔╝██║██║   ██║
 * ██║██║ ╚═╝ ██║╚██████╔╝
 * ╚═╝╚═╝     ╚═╝ ╚═════╝
 *
 *
 * This sheet contains:
 * * The img (image) module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

 .img {
	width: auto;
	&.bg {
		height: 100%;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
