/**
 *
 * ██████╗ ████████╗███╗   ██╗
 * ██╔══██╗╚══██╔══╝████╗  ██║
 * ██████╔╝   ██║   ██╔██╗ ██║
 * ██╔══██╗   ██║   ██║╚██╗██║
 * ██████╔╝   ██║   ██║ ╚████║
 * ╚═════╝    ╚═╝   ╚═╝  ╚═══╝
 *
 *
 * This sheet contains:
 * * The btn (button) module
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.btn {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 5em;
	text-transform: uppercase;
	transition: .15s ease;
	@extend .border-solid-primary-3;

	//Modifiers
	&.primary {
		&:hover {
			@extend .background-white, .color-primary;
		}
	}
	&.secondary {
		@extend .background-white, .color-primary;
		&:hover {
			border: 3px solid transparent;
			@extend .background-primary, .color-white;
		}
	}
}
