/**
 *
 * ███████╗██╗███████╗██╗     ██████╗
 * ██╔════╝██║██╔════╝██║     ██╔══██╗
 * █████╗  ██║█████╗  ██║     ██║  ██║
 * ██╔══╝  ██║██╔══╝  ██║     ██║  ██║
 * ██║     ██║███████╗███████╗██████╔╝
 * ╚═╝     ╚═╝╚══════╝╚══════╝╚═════╝
 *
 *
 * This sheet contains:
 * * The field module (primarily for inputs and textareas)
 * --------------------
 * Used for fields that often has a value a user write or have written.
 *
 * This sheet is a part of the Module folder and follow the Module rules:
 * A Module is a more discrete component of the page. Modules sit inside Layout components or other Module components.
 * It is your navigation bars and your carousels and your dialogs and your widgets and so on. Each Module should be
 * designed to exist as a standalone component.
 */

.field {
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	border-radius: 5px;
	display: block;
	@extend .background-light-grey, .no-border;

	//Modifiers
	&.input {
		@extend .padding-ms;
	}
}

//Elements
.field__option {
	@extend .padding-s, .border-bottom-solid-grey-2;
	&:hover {
		cursor: pointer;
		@extend .background-white;
	}
}
