/**
 *
 * ███████╗██╗███████╗███████╗███████╗
 * ██╔════╝██║╚══███╔╝██╔════╝██╔════╝
 * ███████╗██║  ███╔╝ █████╗  ███████╗
 * ╚════██║██║ ███╔╝  ██╔══╝  ╚════██║
 * ███████║██║███████╗███████╗███████║
 * ╚══════╝╚═╝╚══════╝╚══════╝╚══════╝
 *
 *
 * This sheet contains:
 * * Global size variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

$max-width: 960px;

//base spacing difference
$bsd: 6px;
$base-spacing: 24px;

$h-spacing: #{$base-spacing + ( $bsd * 4 )};
$vb-spacing: #{$base-spacing + ( $bsd * 3 )};
$b-spacing: #{$base-spacing + ( $bsd * 2 )};
$mb-spacing: #{$base-spacing + ( $bsd * 1 )};
$m-spacing: $base-spacing;
$ms-spacing: #{$base-spacing - ( $bsd * 1 )};
$s-spacing: #{$base-spacing - ( $bsd * 2 )};
$vs-spacing: #{$base-spacing - ( $bsd * 3 )};
$t-spacing: #{$base-spacing - ( $bsd * 3.5 )};
