/**
 *
 * ████████╗███████╗██╗  ██╗████████╗
 * ╚══██╔══╝██╔════╝╚██╗██╔╝╚══██╔══╝
 *    ██║   █████╗   ╚███╔╝    ██║
 *    ██║   ██╔══╝   ██╔██╗    ██║
 *    ██║   ███████╗██╔╝ ██╗   ██║
 *    ╚═╝   ╚══════╝╚═╝  ╚═╝   ╚═╝
 *
 *
 * This sheet contains:
 * * Global text/font variables
 *
 * This sheet is a part of the Global folder which is not really a part of SMACSS:
 * Global stores variables that can be used all over the document and create a consistency in the style.
*/

//base font size
$bfs: 16px;
//base font difference
$bfd: 6px;
//base font dynamic affect
$bfda: .2vw;

$base-font-size: calc(#{ $bfs } + #{ $bfda } );

$vb-font-size: 2.5rem;
$b-font-size: 2rem;
$mb-font-size: 1.5rem;
$m-font-size: 1rem;
$ms-font-size: 0.832rem;
$s-font-size: 0.666rem;
$vs-font-size: 0.5rem;

$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: Georgia, serif;

//Set base font size for the entire site
html {
	font-size: $base-font-size;
}
