/**
 *
 *  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
 * ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
 * ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
 * ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
 * ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
 *  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *
 * A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudo-classes.
 * It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

$black:#32393f;
$white: #FFFFFF;
$grey: #f0f0f0;
$light-grey: #f7f7f7;

$primary-color:#2A2F3E;
$secondary-color: #3EB5FE;
$tertiary-color: #C41736;
